<!DOCTYPE html>
<html>
<head>
    <title>Single App</title>
    <link rel="stylesheet" href="/static/styles/libs/semantic.min.css">
</head>
<body>

<script src="/static/scripts/libs/jquery-1.11.3.min.js"></script>
<script src="/static/scripts/libs/small-spa/small-spa.js"></script>
<script src="/static/scripts/libs/semantic.min.js"></script>
</body>
</html>

<script>
var $loading = $('<div/>').appendTo($('body'))
    .text('loading...')
    .css({
        'position':'fixed',
        'width':'100%',
        'text-align':'center',
        'top':'300px',
        'font-size':'30px'
    })

Sspa.onStartHash(function (){
    $loading.show()
})
.onEndHash(function (){
    $loading.hide()
})
.init()
</script>